name: test

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Python 3.12.0
      uses: actions/setup-python@v4
      with:
        python-version: 3.12.0

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install numpy pandas scipy pytest

    - name: Check environment
      run: |
        pwd
        ls -la

    - name: Test with unittest
      run: python -m unittest discover

    - name: Test example
      run: |
        mkdir out
        mkdir out/data_example1
        python heat_load_calc/heat_load_calc.py heat_load_calc/example/data_example1.json -o out/data_example1

    - name: Archive example results
      uses: actions/upload-artifact@v4
      with:
        name: example-out
        path: out
        retention-days: 5
